Django==5.2.4
django-allauth==65.10.0
django-debug-toolbar==6.0.0
django-picklefield==3.3
django-q2==1.8.0
mongoengine==0.29.1
pymongo==4.13.2
pytz==2025.2
python-decouple==3.8
requests==2.32.4
urllib3==1.26.18
six==1.16.0
asgiref==3.8.1
MarkupSafe==2.1.5
PyJWT==2.8.0
