/* docs/stylesheets/extra.css */

:root {
    --md-primary-fg-color: #1e40af;       /* Bleu profond pour la barre de titre */
    --md-accent-fg-color: #2563eb;        /* Accent (liens, boutons) */
    --md-typeset-a-color: #1d4ed8;        /* Couleur des liens */
  }
  
  /* Titre principal */
  .md-header__title {
    font-weight: 600;
  }
  
  /* Lien dans la barre de navigation */
  .md-nav__link {
    font-weight: 500;
  }
  
  /* Code blocks (plus lisibles) */
  code, pre code {
    font-family: Consolas, monospace;
    font-size: 0.875rem;
  }
  
  /* Ajout d’un footer simple */
  footer.md-footer {
    font-size: 0.75rem;
    color: #888;
    text-align: center;
  }


  /*Masquage du nom du site, redondant avec le logo*/
  .md-ellipsis {
    display: none !important;
  }